<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlinks}}
    
</head>
<body>
  
{{>navbar}}


  
       
 <!--left div-->
          <div class=" main_header_left align-items-center">
                    <figure>
                        <img class=" w-100" src="img/error.png" alt="First slide">
                    </figure>
   
                  <p>Welcome to ❤Arzan coding World</p>
                  <h1>
                    {{errorMSG}}
                  </h1>

                </div>

            </div>
</body>