<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="img/favicon.ico">
    <link rel="stylesheet" href="css/resp.css">
    <script src="https://kit.fontawesome.com/d22831e00d.js" crossorigin="anonymous"></script>
    <title>Arzancode – Learn coding online at India’s best coding institute</title>
</head>

<body>
    {{>navbar}}
    <section class="background firstsection">
        <div class="box-main">
            <div class="firsthalf">


                <p class="text-big">The World has enough Coders</p>
                <p class="text-small">
                   Be a Coding Ninja!
                </p>
                <div class="buttons1">
                    <a href="/contact">
                        <button class="btn1">Join us</button>
                    </a>
                    <a href="https://www.youtube.com/watch?v=oYRda7UtuhA">
                        <button class="btn1">Watch video</button>
                    </a>
                </div>
            </div>
            <div class="secondhalf">
                <img src="img/ninja.png" alt="Laptop image">
            </div>

        </div>
        

    </section>
    {{>about}}
    <div class="container-fluid mt-5 service-style" id="serviceid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h1 class="text-center main-heading">Our Services</h1>
                <p class="text-center sub-heading">Get to enhance your skills </p>
                <div class="row">
                    <div class="col-md-4">
                        <div class="box">
                            <div class="our-services settings">
                                <div class="icon">
                                    <img src="https://i.imgur.com/6NKPrhO.png" alt="">
                                </div>
                                <h4>Web Development</h4>
                                <p>With Predictable Stability and Dependable Performance, Confluence is Online When You Need it. Spend More Time Getting Stuff Done Less Time Waiting on Pages To Load. Choose Confluence.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <div class="our-services privacy">
                                <div class="icon">
                                    <img src="https://i.imgur.com/AgyneKA.png" alt="">
                                </div>
                                <h4>App-Development</h4>
                                <p>Everyone wants to make the next great mobile application.It can be an extremely profitable way to make some money if you know what you’re doing.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <div class="our-services backups">
                                <div class="icon">
                                    <img src="https://i.imgur.com/vdH9LKi.png" alt="">
                                </div>
                                <h4>API Development</h4>
                                <p>Protocols, error handling, and code modularity are just some of the questions your teams need to address before building a great API.Grow and learn with us</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <div class="our-services ssl">
                                <div class="icon">
                                    <img src="https://i.imgur.com/v6OnUqu.png" alt="">
                                </div>
                                <h4> Web-App</h4>
                                <p>Measure performance, report effectively get insights. Start a trial today. Get to learn languages like <span class="span1">Angular and Reactjs.</span></p>
                            </div> 
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <div class="our-services database">
                                <div class="icon">
                                    <img src="https://i.imgur.com/VzjZw9M.png" alt="">
                                </div>
                                <h4>Machine Learning</h4>
                                <p>Stay ahead in technology with this Post Graduate Program in <span class="span1">AI and Machine Learning</span> in partnership with Purdue  in collaboration with IBM. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <div class="our-services speedup">
                                <div class="icon supportpng">
                                    <img src="img/customer-service.png" alt="">
                                </div>
                                <h4>Support</h4>
                                <p>Anytime Anywhere Anyplace <span class="span1"> 24/7</span> in your service.Any Complaint or Suggestion about us email us on the links given below.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    {{>map}}

   {{>contact}}

   {{>footer}}

    <script src="../jq/jquery.js" type="text/javascript"></script>
    <script src="../js/bootstrap.js" type="text/javascript"></script>
</body>

</html>