<footer-1>
        <footer>
            <div class="container1">
                <div class="sec aboutus">
                    <h2>About us</h2>
                    <p>Arzancode is optimized for learning, testing, and training. Examples might be simplified to improve reading and basic understanding. With multiple coding courses</p>
                    <ul class="sci">
                        <li><a href="https://www.google.com/search?q=facebook+login&rlz=1C1CHBF_enIN888IN888&oq=facebook&aqs=chrome.1.69i57j0i67i131i433j0i67i433j0i131i433j0i67j0i433l3j0.3200j0j7&sourceid=chrome&ie=UTF-8"><i class="fa fa-facebook-official"></i></a></li>
                        <li><a href="https://www.instagram.com/accounts/login/?hl=en"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="https://www.google.com/search?q=twitter+login&rlz=1C1CHBF_enIN888IN888&oq=tweeterl&aqs=chrome.1.69i57j0i10i433l3j0i10l2j0i10i457j0i10i433j0i10j0i10i433.32384j0j7&sourceid=chrome&ie=UTF-8"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.youtube.com/watch?v=oYRda7UtuhA"><i class="fa fa-youtube-play"></i></a></li>
                    </ul>
                </div>
                <div class="sec quicklinks">
                    <h2>QuickLinks</h2>
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Privacy&Policy</a></li>
                        <li><a href="#">Terms&Conditions</a></li>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div class="sec contactfooter">
                    <h2>Contact Info</h2>
                    <ul class="info">
                        <li>
                            <span><i class="fa fa-map-marker"></i></span>
                            <span>Mind Space SEZ (Serene Properties),<br> Thane-Belapur Road, Airoli,<br> Navi Mumbai,
                                Maharashtra 400708</span>
                        </li>
                        <li>
                            <span><i class="fa fa-phone"></i></span>
                            <p><a href="tel:123456789">+1 234 567 8900</a><br>
                                <a href="tel:123456789">+1 234 567 8900</a>
                            </p>
                        </li>
                        <li>
                            <span><i class="fa fa-envelope-o"></i></span>
                            <p><a href="mailto:knowmore@email.com">knowmore@email.com</a></p>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
    </footer-1>
    <div class="copyright">
        <p>Copyrigts &copy; 2030 Arzan Coding.All Rights Reserved.
        </p>
    </div>