@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
.background{
    background:rgba(0, 0, 0, 0.7) url('/img/blckandwite.jpg');
    background-size: cover;
    background-blend-mode: darken;
}
html{
    scroll-behavior: smooth;
}
.navbar1{
        display: flex;
        align-items: center;
        justify-content: center;
       
        top: 0;
        cursor: pointer;
        font-family: 'Ubuntu', sans-serif;
        width:100%
}
.btn-outline-success {
  color: #f96f20;
  border-color: #f96f20;
}
.btn-outline-success:hover{
  background-color: #f96f20;
}
.ms-auto {
    margin-left: auto!important;
    font-size: 21px;
    font-weight: 300;
}
.logo{
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.logo img{
    width: 25%;
    border: 3px solid white;
    border-radius: 50px;
    margin: 3px;
}
.bg-light{
    background-color: none;
}
.navbar-light .navbar-nav .nav-link {
    color: wheat;
}
 .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: white;

}
.navbar-light .navbar-nav .nav-link:hover {
  color: #f96f20;
}
.navbar-light .navbar-brand {
    font-size: 25px;
   
    color: white;
}
.navbar-brand{
    text-align: left;
}

.mx-auto {
    width: 101%;
    margin-right: auto!important;
    margin-left: auto!important;
}
.firstsection{
   height: 100vh;
}
.box-main{
    background-image: url('img/blckandwhite.jpg');
    display: flex;
    align-items: center;
    justify-content:center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    max-width: 50%;
    margin: auto;
    height: 75%;
}
.firsthalf{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.secondhalf{
    width: 30%;
}

.secondhalf img{
    position: relative;
    display: block;
    margin: auto;
    max-width: 170%;
    align-items: center;
}
.text-big{
 font-size: 40px;
  
    /* color: #ff5c07; */
   
    font-weight: bold;
}
.text-small{
 font-size: 40px;
 color: #fe8b06;
}
.btn1{
    padding: 8px 20px;
    margin: 7px 3px;
    outline: none;
   
    background: linear-gradient(90deg,#fb9212,#f96f20);   
    border-radius: 8px;
    cursor: pointer;
    color: white;
    font-size: 20px;
   }
   .btn1:hover{
    background: linear-gradient(90deg,#f96f20,#fb9212);
   }
/*about*/

.section{
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  padding: 10px;
  max-width: 80%;
  margin: auto;
  font-family: 'Ubuntu', sans-serif;
  }
  .section-left{
      flex-direction: row-reverse;
      }
  .paras{
      padding: 0px 65px;
  }
  .sectiontag{
      padding: 16px 0;
  }
  .sectionsubtag{
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .thumbnail{
      width:40%;
      margin-top: 25px;
  }
  .aboutbig{
    font-size: 35px;
    color: #fe8b06;
    font-family: 'Ubuntu', sans-serif;
  }
  .aboutsmall{
    font-size: 25px;
    font-weight: bold;
    color: black;
  }



   /*service*/
   .service-style {
  margin-bottom: 10rem;
}
.container-fluid mt-5 service-style{
  background-: linear-gradient(#5035ec 0%, #44a2f6 50%);
}
.box {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.our-services {
  margin-top: 75px;
  padding-bottom: 30px;
  padding: 0 30px;
  min-height: 198px;
  text-align: center;
  border-radius: 10px;
  background-color: #fff;
  transition: all 0.4s ease-in-out;
  box-shadow: 0 0 25px 0 rgba(20, 27, 202, 0.17);
}

.our-services .icon {
  margin-bottom: -21px;
  transform: translateY(-50%);
  text-align: center;
}

.our-services h4 {
  font-size: 3rem;
  font-weight: bold;
}

.our-services:hover h4,
.our-services:hover p {
  color: #fff;
}

.speedup:hover {
  box-shadow: 0 0 25px 0 rgba(33, 39, 221, 0.2);
  cursor: pointer;
  background-image: linear-gradient(-45deg, #f33474 0%, #f55b2a 50%);
}

.settings:hover {
  box-shadow: 0 0 25px 0 rgba(20, 27, 201, 0.2);
  cursor: pointer;
  background-image: linear-gradient(-45deg, #49d0da 0%, #210c59 50%);
}

.privacy:hover {
  box-shadow: 0 0 25px 0 rgba(20, 27, 201, 0.2);
  cursor: pointer;
  background-image: linear-gradient(-45deg, #5035ec 0%, #44a2f6 50%);
}

.backups:hover {
  box-shadow: 0 0 25px 0 rgba(20, 27, 201, 0.2);
  cursor: pointer;
  background-image: linear-gradient(-45deg, #fd7f30 0%, #fdb642 50%);
}

.ssl:hover {
  box-shadow: 0 0 25px 0 rgba(20, 27, 201, 0.2);
  cursor: pointer;
  background-image: linear-gradient(-45deg, #974eff 0%, #5a57fb 50%);
}
.span1{
  font-size: 20px;
  color: #f55b2a;
}

.database:hover {
  box-shadow: 0 0 25px 0 rgba(20, 27, 201, 0.2);
  cursor: pointer;
  background-image: linear-gradient(-45deg, #27b88d 0%, #22dd73 50%);
}
.supportpng img {
    vertical-align: middle;
    width: 18%;
}


/*conact*/

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  /* margin-top: calc(var(--bs-gutter-y) * -1); */
  /* margin-right: calc(var(--bs-gutter-x)/ -2); */
  /* margin-left: calc(var(--bs-gutter-x)/ -2); */
}
.text-center{
    text-align: center;
   padding-top: 50px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 35px;
}
.form{
    max-width: 62%;
    margin: 25px auto;
}
.form-input{
    margin: 15px 0;
    width: 100%;
    font-size: 19px;
    border: 2px solid grey;
    border-radius: 6px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sub-heading{
font-size: 25px;
}
.btn-dark{
    padding: 13px 19px;
    border-radius: 28px;
    display: flex;
    margin: auto;
    max-width: 70%;
    font-size: 25px;
    color: #f6f5f4;
  background: linear-gradient(90deg,#475563,#0c0d0d);
    font-family: 'Ubuntu', sans-serif;
  
}
.btn-dark:hover{
    background: linear-gradient(90deg,#f96f20,#fb9212);
}
/*footer*/
footer-1{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  
  flex-direction: column;
  font-family: 'Ubuntu', sans-serif;
}
footer{
  position: relative;
  height: auto;
  background-color: #111;
  justify-content:space-between;
  flex-wrap: wrap;
}
footer .container1{
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}
footer .container1 .sec{
  margin-right: 30px;
}
footer .container1 .sec.aboutus{
  width: 30%;
  padding: 0px 30px;
  
}

footer .container1 h2{

  position: relative;
  color:#fff;
  font-weight: 500;
  margin-bottom: 15px;
}
footer .container1 h2:before
{
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100px;
  height: 2px;
  background: #f55b2a;
}
footer p{
  color: white;
}
.sci{
  display: flex;
  margin-top: 20px;
}
.sci li{
  list-style: none;
}
.sci li a{
  display:inline-block;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 4px;
}
.sci li a:hover{
  background: #f55b2a;
}
.sci li a .fa{
  color: #fff;
  font-size: 20px;
}
.quicklinks{
  position: relative;
  
  
}
.quicklinks ul li{
  list-style: none;
}
.quicklinks ul li a{
  color: #999;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 10px;
}
.quicklinks ul li a:hover{
color: #fff;
}
.contactfooter{ 
  padding: 0 125px;  
  margin-right: 0 !important;
}
.contactfooter .info
{
  position: relative;
}
.contactfooter .info li{
  display: flex;
  
  margin-bottom: 16px;
}
.contactfooter .info li span:nth-child(1)
{
  color: #fff;
  font-size: 20px;
  margin-right: 10px;
}
.contactfooter .info li span{
  color: #999
}
.contactfooter .info li a{
  color: #999;
  text-decoration: none;
}
.copyright{
 
  background: #181818;
  padding: 8px 100px;
  text-align: center;
  color: #999;
}
/*login*/
